DATABASE_URL=your_value_here
RISK_ALERT_RECIPIENTS=your_value_here
REMEDYFORCE_TICKET_EMAIL=your_value_here
NOC_NOTIFY_EMAIL=your_value_here
NOC_ONPAGE_EMAIL=your_value_here
ITNETWORK_ONPAGE_EMAIL=your_value_here